<configuration>
  <system.webServer>
    <!-- Handler for processing requests -->
    <handlers>
      <!-- Maps all requests to the Flask app -->
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x86\python.exe|D:\home\site\wwwroot\app.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <!-- Specifies detailed error messages for debugging -->
    <httpErrors errorMode="Detailed" />

    <!-- Default document that the server will try to serve if none is specified -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
